	<footer id="colophon" class="site-footer">

			<div class="container">
	
				<div class="copyright"><%- themeConfig.footerInfo %><br>Theme:   <a href="https://github.com/shanbufun/gridea-theme-pan" target="_blank" title="Pan"><span>Pan</span></a>.  by <a href="https://shanbu.fun/" target="_blank"  title="山卜方" >Shanbufun</a></div>		
			</div>
		
		</footer>